@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:wght@200;300&display=swap");
:export {
  mainColor: #5d42d3;
  textColor: #363636;
  paperColor: #fff;
  orangeColor: #bc6144;
  highlightColor: #08d7bd;
  greyColor: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 160%;
}

#root {
  scroll-behavior: smooth;
  font-family: "Poppins";
  background: #f4f4f4;
  overflow-x: hidden;
}

p,
a,
ul,
ol,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

a,
p,
li,
span {
  font-size: 14px;
}

.container {
  width: 1320px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding: 0px 15px;
}

.btn {
  font-size: 13px;
  border-radius: 40px;
  color: #fff;
  background: #bc6144;
  border: none;
  cursor: pointer;
  font-weight: 700;
  height: 60px;
  width: 140px;
  border-radius: 40px;
}

.description {
  overflow: hidden;
}

.title__home {
  line-height: 120%;
  color: #fff;
  font-weight: 700;
}

.sub__title {
  font-weight: 300;
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
}

.sz-48 {
  font-size: 48px;
}

.sz-60 {
  font-size: 60px;
}

.dark-color {
  color: #363636;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
}

.header__home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 79px;
  background: #f4f4f4;
  z-index: 1000;
}
.header__home .logo__box {
  width: 139px;
  height: 30px;
}
.header__home .header__box .navigation ul {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.header__home .header__box .navigation ul .form__search {
  display: none;
}
.header__home .header__box .navigation ul li {
  list-style: none;
  margin-left: 34px;
}
.header__home .header__box .navigation ul li a {
  font-weight: 700;
  color: #363636;
}
.header__home .header__box .navigation ul li a:nth-child(1) {
  margin-left: 0px;
}
.header__home .header__box .navigation ul li .icon {
  margin-left: 0px;
}
.header__home .header__box .navigation ul li svg {
  position: relative;
  top: 5px;
  color: #363636;
  margin-left: 10px;
}
.header__home .header__box .nav__icon {
  display: none;
}

.banner__home {
  position: relative;
  width: 100%;
  min-height: 90vh;
  padding-left: 280px;
}
.banner__home .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  z-index: -2;
}
.banner__home .left__side {
  position: relative;
}
.banner__home .left__side h1 {
  color: #363636;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  z-index: 1;
  margin-bottom: 20px;
}
.banner__home .left__side p {
  position: absolute;
  top: -250px;
  left: -250px;
  color: #fff;
  font-size: 300px;
  font-weight: 700;
  z-index: -1;
}
.banner__home .left__side a {
  color: #363636;
  display: flex;
  align-items: center;
}
.banner__home .left__side a div {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: #5d42d3;
  border-radius: 50%;
}
.banner__home .left__side a div svg {
  color: #fff;
  transform: rotateZ(90deg);
  width: 15px;
  height: 15px;
  position: relative;
  left: 1px;
  transition: 0.5s all ease;
}
.banner__home .left__side a div:hover svg {
  transform: rotateZ(90deg) scale(1.2);
}
.banner__home .left__side .circle {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
}
.banner__home .left__side .circle:nth-child(1) {
  top: -200px;
  left: 30px;
  -webkit-animation: animationToRight 10s infinite 2s;
          animation: animationToRight 10s infinite 2s;
}
.banner__home .left__side .circle:nth-child(2) {
  top: 200px;
  left: 100px;
  -webkit-animation: animationToLeft 10s infinite 1.5s;
          animation: animationToLeft 10s infinite 1.5s;
}
.banner__home .left__side .circle:nth-child(3) {
  top: 200px;
  left: 560px;
  -webkit-animation: animationToRight 10s infinite 0.5s;
          animation: animationToRight 10s infinite 0.5s;
}
.banner__home .left__side .circle:nth-child(4) {
  top: 0px;
  left: 560px;
  -webkit-animation: animationToLeft 10s infinite 1s;
          animation: animationToLeft 10s infinite 1s;
}
.banner__home .left__side .w30 {
  width: 30px;
  height: 30px;
}
.banner__home .left__side .w50 {
  width: 50px;
  height: 50px;
}
.banner__home .left__side .w80 {
  width: 80px;
  height: 80px;
}
.banner__home .right__side {
  width: 60%;
  height: 620px;
  margin: 100px 0px;
  background: #bc6144;
  border-radius: 300px 0 0 300px;
}
.banner__home .right__side #banner__image {
  position: relative;
  top: -30px;
  right: 100px;
  width: 95%;
  height: 120%;
  transition: 0.5s all ease;
}

.service__home {
  background: #5d42d3;
}
.service__home .service__container {
  padding-top: 135px;
  padding-bottom: 85px;
}
.service__home .service__container .services .service {
  display: flex;
  cursor: pointer;
}
.service__home .service__container .services .service .icon {
  margin-right: 20px;
}
.service__home .service__container .services .service .icon svg {
  position: relative;
  top: 10px;
  color: #fff;
  transition: 0.5s all ease;
}
.service__home .service__container .services .service .content .title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 500;
}
.service__home .service__container .services .service .content .description {
  color: #fff;
  font-weight: 300;
  height: 66px;
}
.service__home .service__container .services .service:hover .icon svg {
  top: 5px;
}

.project__home {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.project__home .bg__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #5d42d3;
}
.project__home .bg__dark {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  height: calc(100% - 300px);
  background: #363636;
}
.project__home button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  width: 200px;
  height: 60px;
  font-weight: 500;
}

.project__container {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 0;
       column-gap: 0;
}
.project__container .projects .project {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.project__container .projects .project .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 132, 91, 0.47) 0%, rgba(93, 66, 211, 0.49) 100%);
  flex-direction: column;
  transition: 0.2s all ease;
  visibility: hidden;
}
.project__container .projects .project .content .title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0px;
}
.project__container .projects .project .content .sub__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.project__container .projects .project img {
  transition: 0.5s all ease;
}
.project__container .projects .project:nth-child(1), .project__container .projects .project:nth-child(6), .project__container .projects .project:nth-child(8) {
  height: 560px;
}
.project__container .projects .project:nth-child(2), .project__container .projects .project:nth-child(4), .project__container .projects .project:nth-child(7) {
  height: 344px;
}
.project__container .projects .project:nth-child(3), .project__container .projects .project:nth-child(5), .project__container .projects .project:nth-child(9) {
  height: 409px;
}
.project__container .projects .project:hover .content {
  visibility: visible;
}
.project__container .projects .project:hover img {
  transform: scale(1.2);
}

.achievement__home {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #363636;
}
.achievement__home .achievement__container .title__home {
  text-align: center;
}
.achievement__home .achievement__container .sub__title {
  color: #fff;
}
.achievement__home .achievement__container .achievements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.achievement__home .achievement__container .achievements .achievement {
  width: 20%;
}
.achievement__home .achievement__container .achievements .achievement p {
  color: #fff;
  text-align: center;
}
.achievement__home .achievement__container .achievements .achievement .number {
  font-weight: 700;
  margin-bottom: 20px;
}
.achievement__home .achievement__container .achievements .achievement .name {
  font-size: 20px;
}
.achievement__home .achievement__container .achievements .achievement .sub__name {
  font-size: 13px;
  color: #08d7bd;
}

.master__crew {
  margin-top: 100px;
}
.master__crew .left__side .description {
  width: 50%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  height: 80px;
}
.master__crew .right__side .master .image__box {
  position: relative;
  height: 400px;
}
.master__crew .right__side .master .image__box a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  color: #5d42d3;
  z-index: 2;
  font-weight: 500;
  font-size: 13px;
  transition: 0.5s all ease;
}
.master__crew .right__side .master .image__box a:hover {
  color: #fff;
  background: #5d42d3;
}
.master__crew .right__side .master .image__box img {
  border-radius: 16px 0px 0px 16px;
}
.master__crew .right__side .master .content {
  margin-top: 150px;
}
.master__crew .right__side .master .content .title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.master__crew .right__side .master .content .sub__title {
  margin-top: 0px;
  color: #08d7bd;
  margin-bottom: 15px;
  text-align: left;
  font-size: 16px;
}
.master__crew .right__side .master .content .description {
  font-weight: 300;
  font-size: 14px;
  height: 66px;
}

.team__home {
  margin-top: 100px;
}
.team__home a {
  display: inline-block;
  background: #08d7bd;
  font-weight: 500;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.team__home a:hover {
  color: #fff;
}

.team {
  box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.team .image__box {
  height: 350px;
}
.team .image__box img {
  border-radius: 16px 0px 0px 16px;
}
.team .content {
  margin-top: 100px;
  padding-right: 10px;
}
.team .content .name {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.team .content .job {
  color: #08d7bd;
  margin-bottom: 15px;
}
.team .content .description {
  font-weight: 300;
  font-size: 14px;
  height: 66px;
}

.step__home {
  margin-top: 100px;
}
.step__home .steps {
  height: 500px;
}
.step__home .steps .step {
  position: relative;
  background: #5d42d3;
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
}
.step__home .steps .step .number__bg {
  position: absolute;
  font-size: 300px;
  top: 0px;
  left: 50px;
  font-weight: 700;
  color: #664dd1;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.step__home .steps .step .content {
  position: relative;
  top: 47%;
  padding-left: 150px;
}
.step__home .steps .step .content p {
  color: #fff;
}
.step__home .steps .step .content .title {
  font-size: 50px;
  line-height: 120%;
  font-weight: 700;
}
.step__home .steps .step .content .description {
  margin-top: 15px;
  height: 44px;
  width: 80%;
}

.client__home {
  margin-top: 100px;
}
.client__home .title__home {
  text-align: center;
}
.client__home .clients {
  width: 70%;
  margin: 0 auto;
  padding: 50px 200px;
  background: #fff;
  border-radius: 20px;
  margin-top: 30px;
}
.client__home .clients .client {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.client__home .clients .client .image__box {
  display: flex;
  width: 300px;
  margin: 0 auto;
}
.client__home .clients .client .image__box img {
  width: 92px;
  height: 92px;
}
.client__home .clients .client .image__box .content {
  background: #08d7bd;
  width: 100%;
}
.client__home .clients .client .image__box .content p {
  text-align: center;
  color: #fff;
}
.client__home .clients .client .image__box .content .title {
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
}
.client__home .clients .client .description {
  margin-top: 20px;
  height: 84px;
  text-align: center;
  font-weight: 300;
}

.brand__home {
  margin-top: 100px;
  height: 50px;
  padding: 0px 100px;
}
.brand__home img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
  padding: 0px 20px;
}

.subscribe__home {
  position: relative;
  height: 350px;
  margin-top: 100px;
}
.subscribe__home .container {
  height: 100%;
}
.subscribe__home .container form input {
  height: 60px;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0px 20px;
  color: grey;
  margin-right: 20px;
  width: 80%;
}
.subscribe__home .container form button {
  height: 60px;
  background: #08d7bd;
  color: #fff;
  font-weight: 500;
  width: 15%;
}

.contact__home {
  margin-top: 100px;
}
.contact__home .title__home {
  text-align: center;
  text-transform: uppercase;
}
.contact__home .contact__list {
  margin-top: 50px;
}
.contact__home .contact__list .contact {
  height: 374px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 15px 25px -7px, rgba(0, 0, 0, 0.04) 0px -12px 10px -10px;
  transition: 0.5s all ease;
}
.contact__home .contact__list .contact svg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #5d42d3;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}
.contact__home .contact__list .contact p {
  text-align: center;
}
.contact__home .contact__list .contact .title {
  font-weight: 700;
  font-size: 18px;
}
.contact__home .contact__list .contact .description {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  margin-top: 10px;
}
.contact__home .contact__list .contact:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 10px 15px 25px -7px, rgba(0, 0, 0, 0.09) 10px 15px 25px -7px, rgba(0, 0, 0, 0.04) 10px -12px 10px -10px;
}
.contact__home button {
  position: relative;
  left: 50%;
  margin-top: 50px;
  transform: translateX(-50%);
}

footer {
  background: #363636;
  padding-top: 90px;
  margin-top: 100px;
}
footer .footer__box {
  margin: 0 auto;
  margin-bottom: 50px;
}
footer .footer__box .title__footer {
  color: #fff;
  text-transform: uppercase;
}
footer .footer__box .username {
  color: #fff;
}
footer .footer__box .title__box--footer {
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}
footer .footer__box .description {
  color: #bbb;
}
footer .latest__project img {
  height: 90px;
  width: 100%;
  -o-object-fit: center;
     object-fit: center;
}
footer .copyright {
  width: 100%;
  height: 91px;
  background: #252525;
}
footer .copyright div {
  height: 100%;
}
footer .copyright div p {
  color: #fff;
}

@-webkit-keyframes animationToRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animationToRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes animationToLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animationToLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.page {
  margin-top: 130px;
}

.contact__page .map {
  height: 600px;
}
.contact__page .right__side {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.contact__page .right__side .title__home {
  margin-bottom: 20px;
}
.contact__page .right__side .contact__information {
  margin-top: 20px;
}
.contact__page .right__side .contact__information .box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.contact__page .right__side .contact__information .box svg {
  color: #5d42d3;
  margin-right: 20px;
  transition: 0.5s all ease;
  width: 30px;
  height: 30px;
}
.contact__page .right__side .contact__information .box .content .title {
  font-weight: 700;
}
.contact__page .right__side .contact__information .box:hover svg {
  color: #08d7bd;
  transform: translateY(-10px);
}
.contact__page .contact__form {
  margin-top: 100px;
}
.contact__page .contact__form .title__home {
  text-align: center;
}
.contact__page .contact__form form {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
.contact__page .contact__form form input,
.contact__page .contact__form form textarea {
  width: 100%;
  border-radius: 40px;
  border: 1px solid #a3a3a3;
  outline: none;
  margin-top: 10px;
  height: 50px;
  padding: 0px 14px;
  color: #747474;
}
.contact__page .contact__form form textarea {
  height: 200px;
  padding-top: 10px;
  border-radius: 20px;
}

.team__page .title__home {
  text-align: center;
}
.team__page .teams {
  margin-top: 10px;
  margin-bottom: 100px;
}
.team__page .btn {
  background: #08d7bd;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.project__page .title__home {
  text-align: center;
}
.project__page .category__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.project__page .category__filter .category {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s all ease;
}
.project__page .category__filter .category:hover {
  color: #fff;
  background: #5d42d3;
}
.project__page .project__container {
  margin-top: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.project__page .project__container .projects .project {
  margin-bottom: 20px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.breadcrumb > p {
  font-weight: 700;
  font-size: 18px;
}
.breadcrumb p {
  cursor: pointer;
}
.breadcrumb > div {
  display: flex;
  justify-content: space-between;
}
.breadcrumb > div svg {
  width: 10px;
  margin: 0px 10px;
}
.breadcrumb .current__name {
  font-weight: 700;
}

.project__detail .detail .left__side .main__image {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.project__detail .detail .left__side .item__image {
  height: 250px;
}
.project__detail .detail .right__side .project__name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.project__detail .related__item {
  margin-top: 50px;
}
.project__detail .related__item .related__item {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
.project__detail .related__item .item .image__box {
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}
.project__detail .related__item .item .image__box img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s all ease;
}
.project__detail .related__item .item .image__box:hover img {
  transform: scale(1.2);
}
.project__detail .related__item .item .content {
  margin-top: 10px;
}
.project__detail .related__item .item .content .title {
  font-weight: 700;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.project__detail .related__item .item .content .description {
  height: 44px;
}/*# sourceMappingURL=main.css.map */