@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:wght@200;300&display=swap');
$mainColor: #5d42d3;
$textColor: #363636;
$paperColor: #fff;
$orangeColor: #bc6144;
$highlightColor: #08d7bd;
$greyColor: #f4f4f4;
:export {
    mainColor: $mainColor;
    textColor: $textColor;
    paperColor: $paperColor;
    orangeColor: $orangeColor;
    highlightColor: $highlightColor;
    greyColor: $greyColor;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 160%;
}

#root {
    scroll-behavior: smooth;
    font-family: 'Poppins';
    background: $greyColor;
    overflow-x: hidden;
}

p,
a,
ul,
ol,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

a,
p,
li,
span {
    font-size: 14px;
}

.container {
    width: 1320px;
    padding: 0px 15px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0px 15px;
}

.btn {
    font-size: 13px;
    border-radius: 40px;
    color: $paperColor;
    background: $orangeColor;
    border: none;
    cursor: pointer;
    font-weight: 700;
    height: 60px;
    width: 140px;
    border-radius: 40px;
}

.description {
    overflow: hidden;
}

.title__home {
    line-height: 120%;
    color: $paperColor;
    font-weight: 700;
}

.sub__title {
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

.sz-48 {
    font-size: 48px;
}

.sz-60 {
    font-size: 60px;
}

.dark-color {
    color: $textColor;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex__between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
}

.header__home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 79px;
    background: $greyColor;
    z-index: 1000;
    .logo__box {
        width: 139px;
        height: 30px;
    }
    .header__box {
        .navigation {
            ul {
                .form__search {
                    display: none;
                }
                margin-bottom: 0px;
                display: flex;
                align-items: center;
                li {
                    list-style: none;
                    margin-left: 34px;
                    a {
                        font-weight: 700;
                        color: $textColor;
                        &:nth-child(1) {
                            margin-left: 0px;
                        }
                    }
                    .icon {
                        margin-left: 0px;
                    }
                    svg {
                        position: relative;
                        top: 5px;
                        color: $textColor;
                        margin-left: 10px;
                    }
                }
            }
        }
        .nav__icon {
            display: none;
        }
    }
}

.banner__home {
    position: relative;
    width: 100%;
    min-height: 90vh;
    padding-left: 280px;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $greyColor;
        z-index: -2;
    }
    .left__side {
        position: relative;
        h1 {
            color: $textColor;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 80px;
            line-height: 120%;
            z-index: 1;
            margin-bottom: 20px;
        }
        p {
            position: absolute;
            top: -250px;
            left: -250px;
            color: $paperColor;
            font-size: 300px;
            font-weight: 700;
            z-index: -1;
        }
        a {
            color: $textColor;
            display: flex;
            align-items: center;
            div {
                margin-right: 10px;
                width: 50px;
                height: 50px;
                background: $mainColor;
                border-radius: 50%;
                svg {
                    color: #fff;
                    transform: rotateZ(90deg);
                    width: 15px;
                    height: 15px;
                    position: relative;
                    left: 1px;
                    transition: 0.5s all ease;
                }
            }
            div:hover {
                svg {
                    transform: rotateZ(90deg) scale(1.2);
                }
            }
        }
        .circle {
            position: absolute;
            background: $paperColor;
            border-radius: 50%;
            z-index: -1;
            &:nth-child(1) {
                top: -200px;
                left: 30px;
                animation: animationToRight 10s infinite 2s;
            }
            &:nth-child(2) {
                top: 200px;
                left: 100px;
                animation: animationToLeft 10s infinite 1.5s;
            }
            &:nth-child(3) {
                top: 200px;
                left: 560px;
                animation: animationToRight 10s infinite 0.5s;
            }
            &:nth-child(4) {
                top: 0px;
                left: 560px;
                animation: animationToLeft 10s infinite 1s;
            }
        }
        .w30 {
            width: 30px;
            height: 30px;
        }
        .w50 {
            width: 50px;
            height: 50px;
        }
        .w80 {
            width: 80px;
            height: 80px;
        }
    }
    .right__side {
        width: 60%;
        height: 620px;
        margin: 100px 0px;
        #banner__image {
            position: relative;
            top: -30px;
            right: 100px;
            width: 95%;
            height: 120%;
            transition: 0.5s all ease;
        }
        background: $orangeColor;
        border-radius: 300px 0 0 300px;
    }
}

.service__home {
    background: $mainColor;
    .service__container {
        padding-top: 135px;
        padding-bottom: 85px;
        .services {
            .service {
                display: flex;
                cursor: pointer;
                .icon {
                    margin-right: 20px;
                    svg {
                        position: relative;
                        top: 10px;
                        color: $paperColor;
                        transition: 0.5s all ease;
                    }
                }
                .content {
                    .title {
                        color: $paperColor;
                        font-size: 18px;
                        margin-bottom: 0px;
                        font-weight: 500;
                    }
                    .description {
                        color: $paperColor;
                        font-weight: 300;
                        height: 66px;
                    }
                }
            }
            .service:hover {
                .icon {
                    svg {
                        top: 5px;
                    }
                }
            }
        }
    }
}

.project__home {
    width: 100%;
    position: relative;
    min-height: 100vh;
    .bg__main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background: $mainColor;
    }
    .bg__dark {
        position: absolute;
        top: 300px;
        left: 0;
        width: 100%;
        height: calc(100% - 300px);
        background: $textColor;
    }
    button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        width: 200px;
        height: 60px;
        font-weight: 500;
    }
}

.project__container {
    column-count: 3;
    column-gap: 0;
    .projects {
        .project {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, rgba(255, 132, 91, 0.47) 0%, rgba(93, 66, 211, 0.49) 100%);
                flex-direction: column;
                transition: 0.2s all ease;
                visibility: hidden;
                .title {
                    font-size: 24px;
                    font-weight: 700;
                    color: $paperColor;
                    margin-bottom: 0px;
                }
                .sub__title {
                    color: $paperColor;
                    text-transform: uppercase;
                    font-size: 13px;
                }
            }
            img {
                transition: 0.5s all ease;
            }
            &:nth-child(1),
            &:nth-child(6),
            &:nth-child(8) {
                height: 560px;
            }
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(7) {
                height: 344px;
            }
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(9) {
                height: 409px;
            }
        }
        .project:hover {
            .content {
                visibility: visible;
            }
            img {
                transform: scale(1.2);
            }
        }
    }
}

.achievement__home {
    padding-top: 100px;
    padding-bottom: 100px;
    background: $textColor;
    .achievement__container {
        .title__home {
            text-align: center;
        }
        .sub__title {
            color: $paperColor;
        }
        .achievements {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;
            .achievement {
                width: 20%;
                p {
                    color: $paperColor;
                    text-align: center;
                }
                .number {
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                .name {
                    font-size: 20px;
                }
                .sub__name {
                    font-size: 13px;
                    color: $highlightColor;
                }
            }
        }
    }
}

.master__crew {
    margin-top: 100px;
    .left__side {
        .description {
            width: 50%;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 300;
            height: 80px;
        }
    }
    .right__side {
        .master {
            .image__box {
                position: relative;
                height: 400px;
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: $paperColor;
                    width: 100px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 40px;
                    color: $mainColor;
                    z-index: 2;
                    font-weight: 500;
                    font-size: 13px;
                    transition: 0.5s all ease;
                }
                a:hover {
                    color: $paperColor;
                    background: $mainColor;
                }
                img {
                    border-radius: 16px 0px 0px 16px;
                }
            }
            .content {
                margin-top: 150px;
                .title {
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                .sub__title {
                    margin-top: 0px;
                    color: $highlightColor;
                    margin-bottom: 15px;
                    text-align: left;
                    font-size: 16px;
                }
                .description {
                    font-weight: 300;
                    font-size: 14px;
                    height: 66px;
                }
            }
        }
    }
}

.team__home {
    margin-top: 100px;
    a {
        display: inline-block;
        background: $highlightColor;
        font-weight: 500;
        width: 150px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        margin-top: 50px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: $paperColor;
    }
    a:hover {
        color: $paperColor;
    }
}

.team {
    box-shadow: 0px 15px 45px -9px rgb(0 0 0 / 25%);
    border-radius: 16px;
    .image__box {
        height: 350px;
        img {
            border-radius: 16px 0px 0px 16px;
        }
    }
    .content {
        margin-top: 100px;
        padding-right: 10px;
        .name {
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
        }
        .job {
            color: $highlightColor;
            margin-bottom: 15px;
        }
        .description {
            font-weight: 300;
            font-size: 14px;
            height: 66px;
        }
    }
}

.step__home {
    margin-top: 100px;
    .steps {
        height: 500px;
        .step {
            position: relative;
            background: $mainColor;
            box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
            .number__bg {
                position: absolute;
                font-size: 300px;
                top: 0px;
                left: 50px;
                font-weight: 700;
                color: #664dd1;
                text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            }
            .content {
                position: relative;
                top: 47%;
                padding-left: 150px;
                p {
                    color: $paperColor;
                }
                .title {
                    font-size: 50px;
                    line-height: 120%;
                    font-weight: 700;
                }
                .description {
                    margin-top: 15px;
                    height: 44px;
                    width: 80%;
                }
            }
        }
    }
}

.client__home {
    margin-top: 100px;
    .title__home {
        text-align: center;
    }
    .clients {
        width: 70%;
        margin: 0 auto;
        padding: 50px 200px;
        background: $paperColor;
        border-radius: 20px;
        margin-top: 30px;
        .client {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            .image__box {
                display: flex;
                width: 300px;
                margin: 0 auto;
                img {
                    width: 92px;
                    height: 92px;
                }
                .content {
                    background: $highlightColor;
                    width: 100%;
                    p {
                        text-align: center;
                        color: $paperColor;
                    }
                    .title {
                        margin-top: 15px;
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
            }
            .description {
                margin-top: 20px;
                height: 84px;
                text-align: center;
                font-weight: 300;
            }
        }
    }
}

.brand__home {
    margin-top: 100px;
    height: 50px;
    padding: 0px 100px;
    img {
        object-fit: contain;
        height: 50px;
        padding: 0px 20px;
    }
}

.subscribe__home {
    position: relative;
    height: 350px;
    margin-top: 100px;
    .container {
        height: 100%;
        form {
            input {
                height: 60px;
                border-radius: 40px;
                border: none;
                outline: none;
                padding: 0px 20px;
                color: grey;
                margin-right: 20px;
                width: 80%;
            }
            button {
                height: 60px;
                background: $highlightColor;
                color: $paperColor;
                font-weight: 500;
                width: 15%;
            }
        }
    }
}

.contact__home {
    margin-top: 100px;
    .title__home {
        text-align: center;
        text-transform: uppercase;
    }
    .contact__list {
        margin-top: 50px;
        .contact {
            height: 374px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 15px 25px -7px, rgba(0, 0, 0, 0.04) 0px -12px 10px -10px;
            transition: 0.5s all ease;
            svg {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                color: $mainColor;
                width: 50px;
                height: 50px;
                margin-bottom: 50px;
            }
            p {
                text-align: center;
            }
            .title {
                font-weight: 700;
                font-size: 18px;
            }
            .description {
                width: 70%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 300;
                margin-top: 10px;
            }
        }
        .contact:hover {
            box-shadow: rgba(0, 0, 0, 0.09) 10px 15px 25px -7px, rgba(0, 0, 0, 0.09) 10px 15px 25px -7px, rgba(0, 0, 0, 0.04) 10px -12px 10px -10px;
        }
    }
    button {
        position: relative;
        left: 50%;
        margin-top: 50px;
        transform: translateX(-50%);
    }
}

footer {
    background: $textColor;
    padding-top: 90px;
    margin-top: 100px;
    .footer__box {
        margin: 0 auto;
        margin-bottom: 50px;
        .title__footer {
            color: $paperColor;
            text-transform: uppercase;
        }
        .username {
            color: $paperColor;
        }
        .title__box--footer {
            color: $paperColor;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .description {
            color: #bbb;
        }
    }
    .latest__project {
        img {
            height: 90px;
            width: 100%;
            object-fit: center;
        }
    }
    .copyright {
        width: 100%;
        height: 91px;
        background: #252525;
        div {
            height: 100%;
            p {
                color: $paperColor;
            }
        }
    }
}

@keyframes animationToRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes animationToLeft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}

.page {
    margin-top: 130px;
}

// CONTACT PAGE
.contact__page {
    .map {
        height: 600px;
    }
    .right__side {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .title__home {
            margin-bottom: 20px;
        }
        .contact__information {
            margin-top: 20px;
            .box {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                svg {
                    color: $mainColor;
                    margin-right: 20px;
                    transition: 0.5s all ease;
                    width: 30px;
                    height: 30px;
                }
                .content {
                    .title {
                        font-weight: 700;
                    }
                }
            }
            .box:hover {
                svg {
                    color: $highlightColor;
                    transform: translateY(-10px);
                }
            }
        }
    }
    .contact__form {
        margin-top: 100px;
        .title__home {
            text-align: center;
        }
        form {
            width: 70%;
            margin: 0 auto;
            margin-top: 50px;
            input,
            textarea {
                width: 100%;
                border-radius: 40px;
                border: 1px solid #a3a3a3;
                outline: none;
                margin-top: 10px;
                height: 50px;
                padding: 0px 14px;
                color: #747474;
            }
            textarea {
                height: 200px;
                padding-top: 10px;
                border-radius: 20px;
            }
        }
    }
}

// TEAM PAGE
.team__page {
    .title__home {
        text-align: center;
    }
    .teams {
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .btn {
        background: $highlightColor;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

// PROJECT PAGE
.project__page {
    .title__home {
        text-align: center;
    }
    .category__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        .category {
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 5px 15px;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.5s all ease;
        }
        .category:hover {
            color: $paperColor;
            background: $mainColor;
        }
    }
    .project__container {
        margin-top: 30px;
        column-gap: 20px;
        .projects {
            .project {
                margin-bottom: 20px;
            }
        }
    }
}

// BREAD CRUMB
.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    >p {
        font-weight: 700;
        font-size: 18px;
    }
    p {
        cursor: pointer;
    }
    >div {
        display: flex;
        justify-content: space-between;
        svg {
            width: 10px;
            margin: 0px 10px;
        }
    }
    .current__name {
        font-weight: 700;
    }
}

.project__detail {
    .detail {
        .left__side {
            .main__image {
                width: 100%;
                height: 450px;
                object-fit: cover;
                margin-bottom: 10px;
            }
            .item__image {
                height: 250px;
            }
        }
        .right__side {
            .project__name {
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
    }
    .related__item {
        margin-top: 50px;
        .related__item {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 18px;
        }
        .item {
            .image__box {
                height: 200px;
                overflow: hidden;
                cursor: pointer;
                img {
                    object-fit: cover;
                    transition: 0.5s all ease;
                }
            }
            .image__box:hover {
                img {
                    transform: scale(1.2);
                }
            }
            .content {
                margin-top: 10px;
                .title {
                    font-weight: 700;
                    height: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .description {
                    height: 44px;
                }
            }
        }
    }
}