@media (max-width: 1920px) {
  .container {
    max-width: 1499px;
  }
}
@media (max-width: 1500px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 540px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1680px) {
  .product .image_box {
    height: 315px;
  }
  .product .sale_box {
    right: -85px;
  }

  .products_page .product .sale_box {
    right: -100px;
  }
}
@media (max-width: 1550px) {
  .product .image_box {
    height: 260px;
  }
  .product .sale_box {
    right: -75px;
  }

  .products_page .product .image_box {
    height: 315px;
  }
  .products_page .product .sale_box {
    right: -100px;
  }

  .products_home .bg_home {
    background-position: -300px 0px;
  }

  .products_home.active .bg_home {
    background-position: -100px 0px;
  }

  .product_details .show_all .image_slider {
    width: 86%;
  }
  .product_details .show_all .list_images.active {
    width: 14%;
  }
}
@media (max-width: 1440px) {
  .products_home .product .image_box {
    height: 240px;
  }
  .products_home .product .sale_box {
    right: -70px;
  }

  .articles_home .article .image_box {
    height: 145px;
    margin-bottom: 10px;
  }

  .products_page .product .image_box {
    height: 245px;
  }
  .products_page .product .sale_box {
    right: -70px;
  }
  .products_page .articles_box .article .image_box {
    width: 50% !important;
  }
  .products_page .articles_box .article .content {
    width: 50% !important;
  }

  .product_details .details .image_box .product_image {
    height: 467px;
  }
  .product_details .related_products .list .product .image_box {
    height: 355px;
  }
  .product_details .related_products .list .product .sale_box {
    right: -110px;
  }

  .articles_page .articles_container .article .image_box {
    height: 170px;
  }
  .articles_page .articles_container .article.first .image_box {
    height: 370px;
  }
  .articles_page .part_one .articles_box .article .image_box {
    width: 90px;
  }
  .articles_page .part_two .articles_box .article .image_box {
    width: 80%;
  }

  .bread_crumb.type_2 {
    max-width: 98%;
  }

  .article_details_page {
    max-width: 98%;
  }
  .article_details_page .part_one .articles_box .article .image_box {
    width: 90px;
  }
  .article_details_page .part_two .articles_box .article .image_box {
    width: 50%;
  }

  footer > .container .footer_menu {
    width: 13%;
  }
}
@media (max-width: 1024px) {
  header .logo_header img {
    width: 130px;
  }
  header .part_2 .navigation > li a {
    font-size: 14.5px;
  }
  header .part_2 .navigation > li .child.child_product li img {
    height: 120px;
  }

  .status p {
    font-size: 9px;
  }

  .products_home {
    height: 800px;
  }
  .products_home .products_list .list .product .image_box {
    height: 168px;
  }
  .products_home .products_list .list .product .content .price {
    display: flex;
    flex-direction: column;
    height: 42px;
  }
  .products_home .products_list .list .product .sale_box {
    top: 5px;
    right: -45px;
  }
  .products_home .bg_home {
    background-position: 300px 0px;
  }

  .articles_home .article .image_box {
    height: 118px;
  }

  .contact_page .page_main .content {
    width: 48.5%;
  }
  .contact_page .page_main .contact_form {
    width: 48.5%;
  }

  .products_page .main_section .left_side {
    width: 22.5%;
  }
  .products_page .main_section .right_side .sort {
    margin-top: 10px;
  }
  .products_page .main_section .right_side .sort .main_title {
    width: 30%;
  }
  .products_page .main_section .right_side .sort .box::-webkit-scrollbar {
    width: 0;
  }
  .products_page .main_section .right_side .sort .box {
    width: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .products_page
    .main_section
    .right_side
    .sort
    .box
    .ant-radio-group.ant-radio-group-outline {
    height: 100%;
    min-width: 700px !important;
    max-width: 1000px !important;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .products_page .main_section .right_side .products .product .image_box {
    height: 280px;
  }
  .products_page .main_section .right_side .products .product .sale_box {
    right: -80px;
  }
  .products_page .article .image_box {
    height: 65px;
    margin-right: 10px;
  }

  .product_details .details .image_box .product_image {
    height: 333px;
  }
  .product_details .details .image_box .product_name {
    font-size: 40px;
    line-height: 48px;
  }
  .product_details .show_all .image_slider {
    width: 80%;
  }
  .product_details .show_all .list_images.active {
    width: 20%;
  }
  .product_details .related_products .list .product .image_box {
    height: 295px;
  }
  .product_details .related_products .list .product .sale_box {
    right: -90px;
  }

  .articles_page .articles_container .article .image_box,
  .article_details_page .articles_container .article .image_box {
    height: 150px;
  }
  .articles_page .articles_container .article.first .image_box,
  .article_details_page .articles_container .article.first .image_box {
    height: 300px;
  }
  .articles_page .part_one .articles_box .article .image_box,
  .article_details_page .part_one .articles_box .article .image_box {
    width: 110px;
  }
  .articles_page .part_two .articles_box .article .image_box,
  .article_details_page .part_two .articles_box .article .image_box {
    width: 50%;
    margin-right: 10px;
  }
  .articles_page .part_two .articles_box .article .content,
  .article_details_page .part_two .articles_box .article .content {
    width: 50%;
  }
}
@media (max-width: 768px) {
  header {
    height: 50px;
    background: #fff;
    box-shadow: 0 0 3px #888888;
  }
  header .container {
    max-width: 100%;
  }
  header .container .logo_header img {
    width: 197px;
  }
  header .container .part_2 .navigation {
    display: none;
  }
  header .container .search_cart_box .cart_header {
    display: none;
  }
  header .search_container {
    top: 50px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  header .search_container .search_box {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  header .search_container .search_box form input {
    padding: 0px 20px;
  }
  header .search_container .search_box form button {
    right: 20px;
  }
  header .search_container .search_box .bg {
    top: 50px;
    z-index: -1;
  }
  header .search_container .search_box .bg_two {
    display: none;
  }

  .header_two {
    display: flex;
  }

  .banner_home {
    margin-top: 50px;
  }

  .menu_res .ant-drawer-header {
    padding: 10px 20px;
    background: #f5f5f5;
    height: 50px;
  }
  .menu_res .ant-drawer-header img {
    width: 197px;
  }
  .menu_res .ant-drawer-body {
    padding: 0;
    display: flex;
  }
  .menu_res .ant-drawer-body ul {
    width: 100px;
  }
  .menu_res .ant-drawer-body ul li {
    list-style: none;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .menu_res .ant-drawer-body ul li p {
    font-size: 12px;
  }
  .menu_res .ant-drawer-body ul li.active {
    background: #006fa2;
  }
  .menu_res .ant-drawer-body ul li.active img {
    filter: invert(1);
    -webkit-filter: invert(1);
  }
  .menu_res .ant-drawer-body ul li.active p {
    color: #fff;
  }
  .menu_res .ant-drawer-body .categories {
    width: 250px;
    padding: 5px;
    overflow: scroll;
  }
  .menu_res .ant-drawer-body .categories li {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    height: 160px;
    overflow: hidden;
    cursor: pointer;
  }
  .menu_res .ant-drawer-body .categories li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
  }
  .menu_res .ant-drawer-body .categories li p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin: 0px 8px;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .status p {
    font-size: 14px;
  }

  .products_home {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }
  .products_home .products_list {
    width: 90%;
    height: 800px;
  }
  .products_home .products_list .list .product {
    width: 48.8%;
  }
  .products_home .products_list .list .product .image_box {
    height: 400px;
  }
  .products_home .products_list .list .product .sale_box {
    top: 10px;
    right: -120px;
  }
  .products_home .products_list .list .product .content .price {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 24px;
  }
  .products_home .bg_home {
    width: 100%;
    background-attachment: initial;
    max-height: 800px;
    height: 800px;
    background-position: -80px 0px;
  }
  .products_home .bg_home .introduce {
    padding: 16px 48px;
  }

  .products_home.active {
    flex-direction: column-reverse;
  }

  .articles_home .articles_container .article {
    width: 48%;
    margin-bottom: 20px;
  }
  .articles_home .articles_container .article .image_box {
    height: 190px;
  }

  .brand_top {
    overflow: hidden;
  }

  .contact_page .page_main .content {
    width: 48%;
  }
  .contact_page .page_main .contact_form {
    width: 48%;
  }

  .articles_page .articles_container .article.first .image_box,
  .article_details_page .articles_container .article.first .image_box {
    height: 350px;
  }
  .articles_page .part_one .articles_box .article .image_box,
  .article_details_page .part_one .articles_box .article .image_box {
    width: 50px;
  }
  .articles_page .part_two .articles_box .article .image_box,
  .article_details_page .part_two .articles_box .article .image_box {
    width: 20%;
  }
  .articles_page .part_two .articles_box .article .content,
  .article_details_page .part_two .articles_box .article .content {
    width: 80%;
  }

  .products_page .categories_box {
    display: none;
  }
  .products_page .main_section {
    flex-direction: column-reverse;
  }
  .products_page .main_section .left_side,
  .products_page .main_section .right_side {
    width: 100%;
  }
  .products_page .main_section .left_side {
    margin-top: 50px;
  }
  .products_page .main_section .left_side .filter_box {
    display: none;
  }
  .products_page .main_section .left_side .articles_box .main_title {
    margin-bottom: 10px;
  }
  .products_page .main_section .left_side .articles_box .article .image_box {
    width: 20% !important;
  }
  .products_page .main_section .left_side .articles_box .article .content {
    width: 80% !important;
  }
  .products_page .main_section .filter_mobile {
    position: fixed;
    display: initial;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 100;
  }
  .products_page .main_section .filter_mobile .filter_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #fff;
    padding: 20px 10px;
  }
  .products_page .main_section .filter_mobile > img {
    position: absolute;
    top: 40%;
    left: -45px;
    width: 45px;
    height: 45px;
  }
  .products_page .main_section .filter_mobile .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: -200;
  }
  .products_page .main_section .filter_mobile.active {
    right: 0;
  }
  .products_page .main_section .filter_mobile.active .bg.active {
    opacity: 1;
    visibility: visible;
  }

  .product_details .details .image_box .product_name {
    font-size: 26px;
    line-height: 30px;
  }
  .product_details .show_all .image_slider {
    width: 85%;
  }
  .product_details .show_all .list_images.active {
    width: 15%;
  }
  .product_details .related_products .list .product {
    width: 32%;
  }

  .cart_page .left_side .cart_item .image_box {
    display: none;
  }

  footer > .container .footer_logo {
    width: 60%;
    margin-bottom: 20px;
  }
  footer > .container .footer_menu {
    width: 30%;
  }
  footer > .container .footer_contact {
    width: 30%;
  }
}
@media (max-width: 540px) {
  body {
    overflow: auto !important;
  }

  .article_short_description {
    height: 42px;
  }

  .product_details .show_all.active {
    display: none;
  }

  .products_home .bg_home {
    height: 510px;
    width: calc(100% - 30px);
  }
  .products_home .bg_home .introduce .title_type_1 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px !important;
  }
  .products_home .bg_home .introduce .title_type_2 {
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 10px !important;
  }
  .products_home .products_list {
    width: 100%;
    padding: 0px 15px;
    height: 570px;
  }
  .products_home .products_list .list .product .image_box {
    height: 330px;
  }
  .products_home .products_list .list .product .sale_box {
    right: -100px;
  }
  .products_home .products_list.sale {
    height: 650px;
  }
  .products_home .bg_home.sale {
    position: relative;
    height: 275px;
    background: #fff !important;
  }
  .products_home .bg_home.sale .introduce {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 90%;
    background: #006fa2;
    justify-content: center;
  }

  .articles_home {
    padding: 30px 15px 0px;
  }
  .articles_home .articles_container .article {
    width: 100%;
  }
  .articles_home .articles_container .article .image_box {
    height: 267px;
  }

  footer {
    padding-bottom: 50px;
    flex-direction: column;
  }
  footer > .container {
    flex-direction: column;
  }
  footer > .container .footer_logo {
    width: 100%;
    margin-bottom: 20px;
  }
  footer > .container .footer_logo img {
    width: 197px;
  }
  footer > .container .footer_menu {
    flex-direction: column;
    width: 100%;
  }
  footer > .container .footer_contact {
    margin-top: 20px;
    width: 100%;
  }
  footer .footer_license .container {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .footer_license .container .image_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  footer .footer_license .container p {
    display: inline-block;
    width: 70%;
    text-align: center;
  }

  .contact_page .page_main {
    flex-wrap: wrap;
  }
  .contact_page .page_main .content {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact_page .page_main .contact_form {
    width: 100%;
  }

  .articles_page .articles_container .article .image_box {
    height: 267px;
  }
  .articles_page .articles_container .article.first .image_box {
    height: 287px;
  }

  .articles_page .part_two .articles_box .image_box,
  .article_details_page .part_two .articles_box .image_box {
    width: 25% !important;
  }
  .articles_page .part_two .articles_box .content,
  .article_details_page .part_two .articles_box .content {
    width: 75% !important;
  }

  .products_page .main_section .right_side .products .product .sale_box {
    right: -90px;
  }

  .product_details .details .image_box .product_name {
    font-size: 20px;
  }
  .product_details .related_products .list {
    flex-wrap: wrap;
  }
  .product_details .related_products .list .product {
    width: 100%;
    margin-bottom: 20px;
  }
  .product_details .related_products .list .product .image_box {
    height: 680px;
  }
  .product_details .related_products .list .product .sale_box {
    top: 20px;
    right: -220px;
  }

  .show_size_option img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 414px) {
  .page_title {
    font-size: 38px;
  }

  .products_home .products_list {
    height: 480px;
  }
  .products_home .products_list .list .product .image_box {
    height: 245px;
  }
  .products_home .products_list .list .product .sale_box {
    right: -70px;
  }
  .products_home .bg_home {
    height: 384px;
    background-size: cover;
    background-position: 0px 0px;
  }

  .products_home.active .bg_home {
    height: 384px;
    background-size: cover;
    background-position: 0px 0px;
  }

  .articles_home .articles_container .article .image_box {
    height: 215px;
  }

  .articles_page .articles_container .article .image_box,
  .article_details_page .articles_container .article .image_box {
    height: 215px;
  }
  .articles_page .articles_container .article.first .image_box,
  .article_details_page .articles_container .article.first .image_box {
    height: 215px;
  }
  .articles_page .part_one .articles_box .article .image_box,
  .article_details_page .part_one .articles_box .article .image_box {
    width: 90px;
  }
  .articles_page .part_two .articles_box .article .image_box,
  .article_details_page .part_two .articles_box .article .image_box {
    width: 35% !important;
  }

  .products_page .main_section .left_side .articles_box .article .image_box {
    width: 30% !important;
  }
  .products_page .main_section .right_side .products .product .image_box {
    height: 236px;
  }
  .products_page .main_section .right_side .products .product .sale_box {
    right: -60px;
  }

  .product_details .related_products .list .product .image_box {
    height: 512px;
  }
  .product_details .related_products .list .product .sale_box {
    top: 15px;
    right: -160px;
  }
}
@media (max-width: 375px) {
  .products_home .bg_home {
    height: 345px;
  }
  .products_home .products_list .list .product .image_box {
    height: 220px;
  }
  .products_home .products_list .list .product .sale_box {
    right: -60px;
  }

  .products_home.active .bg_home {
    height: 345px;
  }

  .status p {
    font-size: 10px;
  }

  .articles_home .articles_container .article .image_box {
    height: 194px;
  }

  .products_page .main_section .right_side .products .product .image_box {
    height: 210px;
  }
  .products_page .main_section .right_side .products .product .sale_box {
    top: 5px;
    right: -60px;
  }

  .product_details .related_products .list .product .image_box {
    height: 460px;
  }
  .product_details .related_products .list .product .sale_box {
    top: 15px;
    right: -140px;
  }
}
@media (max-width: 320px) {
  #count_down #text_time {
    display: none;
  }

  .products_home .bg_home {
    height: 290px;
  }
  .products_home .bg_home .introduce {
    padding: 20px 10px;
    width: calc(100% - 30px);
  }
  .products_home .bg_home.sale .introduce {
    width: calc(100%);
  }
  .products_home .products_list .list .product .image_box {
    height: 183px;
  }
  .products_home .products_list .list .product .sale_box {
    right: -50px;
  }

  .products_home.active .bg_home {
    height: 290px;
  }

  .header_two {
    z-index: 10000;
  }

  .menu_res .ant-drawer-body .categories {
    width: 220px;
  }

  .products_page .main_section .left_side .articles_box .article .image_box {
    width: 50% !important;
  }
  .products_page .main_section .right_side .products .product .image_box {
    height: 175px;
  }
  .products_page .main_section .right_side .products .product .sale_box {
    top: 5px;
    right: -45px;
  }

  .product_details .related_products .list .product .image_box {
    height: 386px;
  }
  .product_details .related_products .list .product .sale_box {
    right: -120px;
  }

  .articles_page .part_one .articles_box .article .image_box,
  .article_details_page .part_one .articles_box .article .image_box {
    width: 110px;
  }
  .articles_page .part_two .articles_box .article .image_box,
  .article_details_page .part_two .articles_box .article .image_box {
    width: 50% !important;
    margin-right: 10px;
  }
  .articles_page .part_two .articles_box .article .content,
  .article_details_page .part_two .articles_box .article .content {
    width: 50%;
  }
}
@media (max-width: 280px) {
  .products_home .products_list .list .product .sale_box {
    right: -40px;
  }

  .products_page .main_section .right_side .products .product .sale_box {
    right: -35px;
  }

  .menu_res .ant-drawer-body ul {
    width: 80px;
  }
  .menu_res .ant-drawer-body .categories {
    width: 200px;
  }

  .articles_page .part_one .articles_box .article .image_box,
  .article_details_page .part_one .articles_box .article .image_box {
    width: 150px;
  }
  .articles_page .part_two .articles_box .article .image_box,
  .article_details_page .part_two .articles_box .article .image_box {
    width: 50% !important;
    margin-right: 10px;
  }
  .articles_page .part_two .articles_box .article .content,
  .article_details_page .part_two .articles_box .article .content {
    width: 50%;
  }
}

/*# sourceMappingURL=responsive.css.map */
