$mainColor: #006fa2;
$colorText: #2e2e2e;
$borderColor: #dee2e6;
@media (max-width: 1920px) {
    .container {
        max-width: 1499px;
    }
}

@media (max-width: 1500px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1680px) {
    .product {
        .image_box {
            height: 315px;
        }
        .sale_box {
            right: -85px;
        }
    }
    .products_page {
        .product {
            .sale_box {
                right: -100px;
            }
        }
    }
}

@media (max-width: 1550px) {
    .product {
        .image_box {
            height: 260px;
        }
        .sale_box {
            right: -75px;
        }
    }
    .products_page {
        .product {
            .image_box {
                height: 315px;
            }
            .sale_box {
                right: -100px;
            }
        }
    }
    .products_home {
        .bg_home {
            background-position: -300px 0px;
        }
    }
    .products_home.active {
        .bg_home {
            background-position: -100px 0px;
        }
    }
    .product_details {
        .show_all {
            .image_slider {
                width: 86%;
            }
            .list_images.active {
                width: 14%;
            }
        }
    }
}

@media (max-width: 1440px) {
    .products_home {
        .product {
            .image_box {
                height: 240px;
            }
            .sale_box {
                right: -70px;
            }
        }
    }
    .articles_home {
        .article {
            .image_box {
                height: 145px;
                margin-bottom: 10px;
            }
        }
    }
    .products_page {
        .product {
            .image_box {
                height: 245px;
            }
            .sale_box {
                right: -70px;
            }
        }
        .articles_box {
            .article {
                .image_box {
                    width: 50% !important;
                }
                .content {
                    width: 50% !important;
                }
            }
        }
    }
    .product_details {
        .details {
            .image_box {
                .product_image {
                    height: 467px;
                }
            }
        }
        .related_products {
            .list {
                .product {
                    .image_box {
                        height: 355px;
                    }
                    .sale_box {
                        right: -110px;
                    }
                }
            }
        }
    }
    .articles_page {
        .articles_container {
            .article {
                .image_box {
                    height: 170px;
                }
            }
            .article.first {
                .image_box {
                    height: 370px;
                }
            }
        }
        .part_one {
            .articles_box {
                .article {
                    .image_box {
                        width: 90px;
                    }
                }
            }
        }
        .part_two {
            .articles_box {
                .article {
                    .image_box {
                        width: 80%;
                    }
                }
            }
        }
    }
    .bread_crumb.type_2 {
        max-width: 98%;
    }
    .article_details_page {
        max-width: 98%;
        .part_one {
            .articles_box {
                .article {
                    .image_box {
                        width: 90px;
                    }
                }
            }
        }
        .part_two {
            .articles_box {
                .article {
                    .image_box {
                        width: 50%;
                    }
                }
            }
        }
    }
    footer {
        >.container {
            .footer_menu {
                width: 13%;
            }
        }
    }
}

@media (max-width: 1024px) {
    header {
        .logo_header {
            img {
                width: 130px;
            }
        }
        .part_2 {
            .navigation {
                >li {
                    a {
                        font-size: 14.5px;
                    }
                    .child.child_product {
                        li {
                            img {
                                height: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
    .status {
        p {
            font-size: 9px;
        }
    }
    .products_home {
        height: 800px;
        .products_list {
            .list {
                .product {
                    .image_box {
                        height: 168px;
                    }
                    .content {
                        .price {
                            display: flex;
                            flex-direction: column;
                            height: 42px;
                        }
                    }
                    .sale_box {
                        top: 5px;
                        right: -45px;
                    }
                }
            }
        }
        .bg_home {
            background-position: 300px 0px;
        }
    }
    .articles_home {
        .article {
            .image_box {
                height: 118px;
            }
        }
    }
    .contact_page {
        .page_main {
            .content {
                width: 48.5%;
            }
            .contact_form {
                width: 48.5%;
            }
        }
    }
    .products_page {
        .main_section {
            .left_side {
                width: 22.5%;
            }
            .right_side {
                .sort {
                    margin-top: 10px;
                    .main_title {
                        width: 30%;
                    }
                    .box::-webkit-scrollbar {
                        width: 0;
                    }
                    .box {
                        width: 70%;
                        overflow-x: scroll;
                        overflow-y: hidden;
                        .ant-radio-group.ant-radio-group-outline {
                            height: 100%;
                            min-width: 700px !important;
                            max-width: 1000px !important;
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: row;
                        }
                    }
                }
                .products {
                    .product {
                        .image_box {
                            height: 280px;
                        }
                        .sale_box {
                            right: -80px;
                        }
                    }
                }
            }
        }
        .article {
            .image_box {
                height: 65px;
                margin-right: 10px;
            }
        }
    }
    .product_details {
        .details {
            .image_box {
                .product_image {
                    height: 333px;
                }
                .product_name {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
        }
        .show_all {
            .image_slider {
                width: 80%;
            }
            .list_images.active {
                width: 20%;
            }
        }
        .related_products {
            .list {
                .product {
                    .image_box {
                        height: 295px;
                    }
                    .sale_box {
                        right: -90px;
                    }
                }
            }
        }
    }
    .articles_page,
    .article_details_page {
        .articles_container {
            .article {
                .image_box {
                    height: 150px;
                }
            }
            .article.first {
                .image_box {
                    height: 300px;
                }
            }
        }
        .part_one {
            .articles_box {
                .article {
                    .image_box {
                        width: 110px;
                    }
                }
            }
        }
        .part_two {
            .articles_box {
                .article {
                    .image_box {
                        width: 50%;
                        margin-right: 10px;
                    }
                    .content {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        height: 50px;
        background: #fff;
        box-shadow: 0 0 3px #888888;
        .container {
            max-width: 100%;
            .logo_header {
                img {
                    width: 197px;
                }
            }
            .part_2 {
                .navigation {
                    display: none;
                }
            }
            .search_cart_box {
                .cart_header {
                    display: none;
                }
            }
        }
        .search_container {
            top: 50px;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            .search_box {
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                form {
                    input {
                        padding: 0px 20px;
                    }
                    button {
                        right: 20px;
                    }
                }
                .bg {
                    top: 50px;
                    z-index: -1;
                }
                .bg_two {
                    display: none;
                }
            }
        }
    }
    .header_two {
        display: flex;
    }
    .banner_home {
        margin-top: 50px;
    }
    .menu_res {
        .ant-drawer-header {
            padding: 10px 20px;
            background: #f5f5f5;
            height: 50px;
            img {
                width: 197px;
            }
        }
        .ant-drawer-body {
            padding: 0;
            display: flex;
            ul {
                width: 100px;
                li {
                    list-style: none;
                    width: 100%;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    p {
                        font-size: 12px;
                    }
                }
                li.active {
                    background: $mainColor;
                    img {
                        filter: invert(1);
                        -webkit-filter: invert(1);
                    }
                    p {
                        color: #fff;
                    }
                }
            }
            .categories {
                width: 250px;
                padding: 5px;
                overflow: scroll;
                li {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 5px;
                    height: 160px;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        filter: brightness(60%);
                        -webkit-filter: brightness(60%);
                    }
                    p {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 20px;
                        margin: 0px 8px;
                        z-index: 1;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                }
            }
        }
    }
    .status {
        p {
            font-size: 14px;
        }
    }
    .products_home {
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
        .products_list {
            width: 90%;
            height: 800px;
            .list {
                .product {
                    width: 48.8%;
                    .image_box {
                        height: 400px;
                    }
                    .sale_box {
                        top: 10px;
                        right: -120px;
                    }
                    .content {
                        .price {
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            height: 24px;
                        }
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
        .bg_home {
            width: 100%;
            background-attachment: initial;
            max-height: 800px;
            height: 800px;
            background-position: -80px 0px;
            .introduce {
                padding: 16px 48px;
            }
        }
    }
    .products_home.active {
        flex-direction: column-reverse;
    }
    .articles_home {
        .articles_container {
            .article {
                width: 48%;
                margin-bottom: 20px;
                .image_box {
                    height: 190px;
                }
            }
        }
    }
    .brand_top {
        overflow: hidden;
    }
    .contact_page {
        .page_main {
            .content {
                width: 48%;
            }
            .contact_form {
                width: 48%;
            }
        }
    }
    .articles_page,
    .article_details_page {
        .articles_container {
            .article.first {
                .image_box {
                    height: 350px;
                }
            }
        }
        .part_one {
            .articles_box {
                .article {
                    .image_box {
                        width: 50px;
                    }
                }
            }
        }
        .part_two {
            .articles_box {
                .article {
                    .image_box {
                        width: 20%;
                    }
                    .content {
                        width: 80%;
                    }
                }
            }
        }
    }
    .products_page {
        .categories_box {
            display: none;
        }
        .main_section {
            flex-direction: column-reverse;
            .left_side,
            .right_side {
                width: 100%;
            }
            .left_side {
                margin-top: 50px;
                .filter_box {
                    display: none;
                }
                .articles_box {
                    .main_title {
                        margin-bottom: 10px;
                    }
                    .article {
                        .image_box {
                            width: 20% !important;
                        }
                        .content {
                            width: 80% !important;
                        }
                    }
                }
            }
            .filter_mobile {
                position: fixed;
                display: initial;
                top: 0;
                right: -250px;
                width: 250px;
                height: 100%;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                z-index: 100;
                .filter_box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                    background: #fff;
                    padding: 20px 10px;
                }
                >img {
                    position: absolute;
                    top: 40%;
                    left: -45px;
                    width: 45px;
                    height: 45px;
                }
                .bg {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: 0.7);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    z-index: -200;
                }
            }
            .filter_mobile.active {
                right: 0;
                .bg.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .product_details {
        .details {
            .image_box {
                .product_name {
                    font-size: 26px;
                    line-height: 30px;
                }
            }
        }
        .show_all {
            .image_slider {
                width: 85%;
            }
            .list_images.active {
                width: 15%;
            }
        }
        .related_products {
            .list {
                .product {
                    width: 32%;
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    .cart_page {
        .left_side {
            .cart_item {
                .image_box {
                    display: none;
                }
            }
        }
    }
    footer {
        >.container {
            .footer_logo {
                width: 60%;
                margin-bottom: 20px;
            }
            .footer_menu {
                width: 30%;
            }
            .footer_contact {
                width: 30%;
            }
        }
    }
}

@media (max-width: 540px) {
    body {
        overflow: auto !important;
    }
    .article_short_description {
        height: 42px;
    }
    .product_details {
        .show_all.active {
            display: none;
        }
    }
    .products_home {
        .bg_home {
            height: 510px;
            width: calc(100% - 30px);
            .introduce {
                .title_type_1 {
                    font-size: 18px;
                    line-height: 18px;
                    margin-bottom: 5px !important;
                }
                .title_type_2 {
                    font-size: 40px;
                    line-height: 38px;
                    margin-bottom: 10px !important;
                }
            }
        }
        .products_list {
            width: 100%;
            padding: 0px 15px;
            height: 570px;
            .list {
                .product {
                    .image_box {
                        height: 330px;
                    }
                    .sale_box {
                        right: -100px;
                    }
                }
            }
        }
        .products_list.sale {
            height: 650px;
        }
        .bg_home.sale {
            position: relative;
            height: 275px;
            background: #fff !important;
            .introduce {
                position: absolute;
                bottom: 0;
                width: 95%;
                height: 90%;
                background: $mainColor;
                justify-content: center;
            }
        }
    }
    .articles_home {
        padding: 30px 15px 0px;
        .articles_container {
            .article {
                width: 100%;
                .image_box {
                    height: 267px;
                }
            }
        }
    }
    footer {
        padding-bottom: 50px;
        flex-direction: column;
        >.container {
            flex-direction: column;
            .footer_logo {
                width: 100%;
                margin-bottom: 20px;
                img {
                    width: 197px;
                }
            }
            .footer_menu {
                flex-direction: column;
                width: 100%;
            }
            .footer_contact {
                margin-top: 20px;
                width: 100%;
            }
        }
        .footer_license {
            .container {
                display: flex;
                flex-direction: column-reverse;
                .image_box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                }
                p {
                    display: inline-block;
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
    .contact_page {
        .page_main {
            flex-wrap: wrap;
            .content {
                width: 100%;
                margin-bottom: 20px;
            }
            .contact_form {
                width: 100%;
            }
        }
    }
    .articles_page {
        .articles_container {
            .article {
                .image_box {
                    height: 267px;
                }
            }
            .article.first {
                .image_box {
                    height: 287px;
                }
            }
        }
    }
    .articles_page,
    .article_details_page {
        .part_two {
            .articles_box {
                .image_box {
                    width: 25% !important;
                }
                .content {
                    width: 75% !important;
                }
            }
        }
    }
    .products_page {
        .main_section {
            .right_side {
                .products {
                    .product {
                        .sale_box {
                            right: -90px;
                        }
                    }
                }
            }
        }
    }
    .product_details {
        .details {
            .image_box {
                .product_name {
                    font-size: 20px;
                }
            }
        }
        .related_products {
            .list {
                flex-wrap: wrap;
                .product {
                    width: 100%;
                    margin-bottom: 20px;
                    .image_box {
                        height: 680px;
                    }
                    .sale_box {
                        top: 20px;
                        right: -220px;
                    }
                }
            }
        }
    }
    .show_size_option {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 414px) {
    .page_title {
        font-size: 38px;
    }
    .products_home {
        .products_list {
            height: 480px;
            .list {
                .product {
                    .image_box {
                        height: 245px;
                    }
                    .sale_box {
                        right: -70px;
                    }
                }
            }
        }
        .bg_home {
            height: 384px;
            background-size: cover;
            background-position: 0px 0px;
        }
    }
    .products_home.active {
        .bg_home {
            height: 384px;
            background-size: cover;
            background-position: 0px 0px;
        }
    }
    .articles_home {
        .articles_container {
            .article {
                .image_box {
                    height: 215px;
                }
            }
        }
    }
    .articles_page,
    .article_details_page {
        .articles_container {
            .article {
                .image_box {
                    height: 215px;
                }
            }
            .article.first {
                .image_box {
                    height: 215px;
                }
            }
        }
        .part_one {
            .articles_box {
                .article {
                    .image_box {
                        width: 90px;
                    }
                }
            }
        }
        .part_two {
            .articles_box {
                .article {
                    .image_box {
                        width: 35% !important;
                    }
                }
            }
        }
    }
    .products_page {
        .main_section {
            .left_side {
                .articles_box {
                    .article {
                        .image_box {
                            width: 30% !important;
                        }
                    }
                }
            }
            .right_side {
                .products {
                    .product {
                        .image_box {
                            height: 236px;
                        }
                        .sale_box {
                            right: -60px;
                        }
                    }
                }
            }
        }
    }
    .product_details {
        .related_products {
            .list {
                .product {
                    .image_box {
                        height: 512px;
                    }
                    .sale_box {
                        top: 15px;
                        right: -160px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .products_home {
        .bg_home {
            height: 345px;
        }
        .products_list {
            .list {
                .product {
                    .image_box {
                        height: 220px;
                    }
                    .sale_box {
                        right: -60px;
                    }
                }
            }
        }
    }
    .products_home.active {
        .bg_home {
            height: 345px;
        }
    }
    .status {
        p {
            font-size: 10px;
        }
    }
    .articles_home {
        .articles_container {
            .article {
                .image_box {
                    height: 194px;
                }
            }
        }
    }
    .products_page {
        .main_section {
            .right_side {
                .products {
                    .product {
                        .image_box {
                            height: 210px;
                        }
                        .sale_box {
                            top: 5px;
                            right: -60px;
                        }
                    }
                }
            }
        }
    }
    .product_details {
        .related_products {
            .list {
                .product {
                    .image_box {
                        height: 460px;
                    }
                    .sale_box {
                        top: 15px;
                        right: -140px;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    #count_down {
        #text_time {
            display: none;
        }
    }
    .products_home {
        .bg_home {
            height: 290px;
            .introduce {
                padding: 20px 10px;
                width: calc(100% - 30px);
            }
        }
        .bg_home.sale {
            .introduce {
                width: calc(100%);
            }
        }
        .products_list {
            .list {
                .product {
                    .image_box {
                        height: 183px;
                    }
                    .sale_box {
                        right: -50px;
                    }
                }
            }
        }
    }
    .products_home.active {
        .bg_home {
            height: 290px;
        }
    }
    .header_two {
        z-index: 10000;
    }
    .menu_res {
        .ant-drawer-body {
            .categories {
                width: 220px;
            }
        }
    }
    .products_page {
        .main_section {
            .left_side {
                .articles_box {
                    .article {
                        .image_box {
                            width: 50% !important;
                        }
                    }
                }
            }
            .right_side {
                .products {
                    .product {
                        .image_box {
                            height: 175px;
                        }
                        .sale_box {
                            top: 5px;
                            right: -45px;
                        }
                    }
                }
            }
        }
    }
    .product_details {
        .related_products {
            .list {
                .product {
                    .image_box {
                        height: 386px;
                    }
                    .sale_box {
                        right: -120px;
                    }
                }
            }
        }
    }
    .articles_page,
    .article_details_page {
        .part_one {
            .articles_box {
                .article {
                    .image_box {
                        width: 110px;
                    }
                }
            }
        }
        .part_two {
            .articles_box {
                .article {
                    .image_box {
                        width: 50% !important;
                        margin-right: 10px;
                    }
                    .content {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 280px) {
    .products_home {
        .products_list {
            .list {
                .product {
                    .sale_box {
                        right: -40px;
                    }
                }
            }
        }
    }
    .products_page {
        .main_section {
            .right_side {
                .products {
                    .product {
                        .sale_box {
                            right: -35px;
                        }
                    }
                }
            }
        }
    }
    .menu_res {
        .ant-drawer-body {
            ul {
                width: 80px;
            }
            .categories {
                width: 200px;
            }
        }
    }
    .articles_page,
    .article_details_page {
        .part_one {
            .articles_box {
                .article {
                    .image_box {
                        width: 150px;
                    }
                }
            }
        }
        .part_two {
            .articles_box {
                .article {
                    .image_box {
                        width: 50% !important;
                        margin-right: 10px;
                    }
                    .content {
                        width: 50%;
                    }
                }
            }
        }
    }
}