@import 'static/Template/scss/main.scss';
.title__section--small {
    color: $darkColor;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

.title__section--large {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    color: $darkColor;
    margin-top: 20px;
}

.slider__home--main {
    position: relative;
    min-height: 600px;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    .background {
        filter: brightness(60%);
    }
    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        .title--small {
            text-transform: uppercase;
            letter-spacing: 2px;
            opacity: 0.7;
        }
        .title--large {
            font-size: 54px;
            margin-top: 30px;
            font-weight: 700;
            color: #fff;
        }
        .description {
            margin-top: 30px;
            opacity: 0.7;
            line-height: 160%;
        }
    }
}

.about__home--main {
    .image__box {
        position: relative;
        width: 100%;
        height: 380px;
        padding: 10px;
        .number__box {
            height: 100%;
            background: #fff;
            text-align: center;
            padding-top: 80px;
            .number,
            .description {
                font-size: 160px;
                font-weight: 700;
                background-image: url('../../../../images/Home/Part1/MainHome/bg-aboutUs-home.jpg');
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                background-position: 0px 0px;
                background-size: cover;
            }
            .description {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }
    .content {
        padding-left: 50px;
        .description {
            margin-top: 30px;
            color: $descriptionColor;
            line-height: 160%;
            height: 60px;
        }
    }
}

.project__home--main {
    margin-top: 100px !important;
    .projects {
        margin-top: 50px;
        .project {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            .image__box {
                width: 60%;
                height: 450px;
                position: relative;
                .year__box {
                    position: absolute;
                    top: 20px;
                    right: -100px;
                }
                .year__box:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -110px;
                    width: 100px;
                    height: 0.5px;
                    background: $darkColor;
                }
            }
            .content {
                width: 35%;
                .title__project {
                    font-weight: 700;
                    font-size: 32px;
                }
                .description {
                    color: $descriptionColor;
                    margin-top: 20px;
                    max-height: 80px;
                }
            }
        }
        .project.active {
            flex-direction: row-reverse;
            .image__box {
                .year__box {
                    left: -100px;
                }
                .year__box:after {
                    left: 40px;
                }
            }
        }
    }
}

.testimonials__home--main {
    .main__section {
        margin-top: 50px;
        .list {
            height: 250px;
            border: 1px solid $descriptionColor;
            .testimonial__group {
                position: relative;
                width: fit-content;
                top: -15px;
                left: -5px;
                background: #fff;
                p {
                    margin-top: 10px;
                    color: $descriptionColor;
                    cursor: pointer;
                }
            }
        }
        .detail__box {
            padding-left: 100px;
            .detail {
                text-align: center;
                height: 250px;
                padding: 40px 50px;
                background: #fff;
                box-shadow: 10px 20px 50px 2px $descriptionColor;
                border-radius: 8px;
                svg {
                    width: 30px;
                    height: 30px;
                }
                .description {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 60%;
                    color: $descriptionColor;
                }
                .title {
                    font-weight: 700;
                    margin-top: 20px;
                    font-size: 18px;
                }
            }
        }
    }
}