* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
ol,
li {
    margin-bottom: 0px !important;
    line-height: 100%;
}

li {
    list-style: none;
}

.container {
    width: 1320px;
    padding: 0px 15px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0px 15px;
}

.image__box {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.description {
    overflow: hidden;
}